.task{
    display: flex;
    gap: .5rem;
    border-radius: 5px;
    background: #5252527e;
    padding: 10px;
    align-items: center;
}

.task .icon{
    width: 5%;
    font-size: 20px;
}

.task .title{
    width: 90%;
}

.task .delete{
    width: 5%;
    transition: all ease .5s;
}

.task .icon.red{
    color: red;
}

.task .icon.green{
    color: green;
}

.task .delete:hover{
    color: tomato;
}