@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
  --back: #3C424A;
  --light: #fff;
  --text-head: #8899A6;
  --primary: #22303C; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #F06292;
  color: var(--light);
  font-family: "Outfit", sans-serif;
}

.container{
  background: var(--back);
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
}

.Tasks-display{
  margin-top: 10px;
  padding: 10px;
}